<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scottcrocker.packify">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/packify_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PackifyTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActiveOrdersActivity"
            android:label="@string/label_active_orders"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/label_main_activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OrderHistoryActivity"
            android:label="@string/label_order_history"
            android:screenOrientation="portrait"/>
        <activity

            android:name=".SpecificOrderActivity"
            android:label="@string/label_specific_order"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OrderHandlerActivity"
            android:label="@string/label_order_handler"
            android:screenOrientation="portrait"/>
        <activity

            android:name=".SettingsActivity"
            android:label="@string/label_settings"
            android:screenOrientation="portrait"/>
        <activity

            android:name=".UserHandlerActivity"
            android:label="@string/label_user_handler"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:fitsSystemWindows="true"
            android:label="@string/label_login"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewUserActivity"
            android:theme="@style/PackifyDialogTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewOrderActivity"
            android:theme="@style/PackifyDialogTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignatureActivity"
            android:screenOrientation="landscape" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>