<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scottcrocker.packify">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActiveOrdersActivity"
            android:label="@string/active_orders_label" />
        <activity
            android:name=".MainActivity"
            android:label="Packify" />
        <activity
            android:name=".OrderHistoryActivity"
            android:label="@string/order_history_label" />
        <activity
            android:name=".SpecificOrderActivity"
            android:label="@string/specific_order_label" />
        <activity
            android:name=".OrderHandlerActivity"
            android:label="@string/order_handler_label" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_label" />
        <activity
            android:name=".UserHandlerActivity"
            android:label="@string/user_handler_label" />
        <activity
            android:name=".LoginActivity"
            android:fitsSystemWindows="true"
            android:label="@string/login_label"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewUserActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".SignatureActivity" />
    </application>
</manifest>